<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Customer Data</title>
</head>
<body>
    <h1>Customer List</h1>
    <ul>
        {% for customer in customers %}
            <li>{{ customer[1] }} - Order: {{ employee[2] }}</li>
        {% end %}
    </ul>
    <form method="post" action="/add">
        <input type="text" name="customer_email" placeholder="Customer Email">
        <input type="number" name="order" placeholder="Order">
        <button type="submit">Add Customer Order</button>
    </form>
</body>
</html>